@font-face {
    font-family: 'Sans';
    src: url('Font.woff2') format('woff2');
}

@font-face {
    font-family: 'Sans_Bd';
    src: url('Sans_Bd.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Sans';
}

.header {
    height: 100vh;
    width: 100%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.795),
            rgba(0, 0, 0, 0.589),
            rgba(0, 0, 0, 0.938)),
        url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.header #Lang {
    background-color: #000000a8;
    color: white;
    border: none;
    font-weight: 600;
}

.lang-box {
    border: .5px solid rgba(255, 255, 255, 0.801);
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 5px 8px;
}

nav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding-top: 25px;
}

.buttons {
    background-color: rgb(221, 6, 6);
    color: white;
    width: 70px;
    height: 30px;
    border: .5px solid rgb(221, 6, 6);
    border-radius: 3px;
    font-size: 14px;
}

.main1 {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 65vh;
    width: 50vw;
    gap: 5px;
    line-height: 1;
    align-items: center;
}

.main1>:first-child,
.main1>:nth-child(2) {
    font-size: 60px;
    font-weight: 1000;
    letter-spacing: .5px;
}

.main1> :nth-child(4) {
    font-size: 20px;
    font-weight: 600;
}

.flex {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    width: 40vw;
}

.button1 {
    width: 180px;
    font-size: 22px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
}

input[id="start"] {
    width: 26vw;
    height: 7vh;
    padding-left: 10px;
    color: white;
    font-size: 15px;
    background-color: rgba(24, 24, 24, 0.596);
    border: .5px solid rgb(117, 117, 117);
    border-radius: 3px;
}

.start {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 7px;
}

.content1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.content {
    color: white;
}

.content-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-items span {
    position: relative;
    transition: all .5s ease;

}

.content-items span img {
    border-radius: 30px;
    width: 170px;
    padding: 20px;

}

.content-items span:hover {
    transform: scale(1.05);
}

.text {
    font-size: 90px;
    -webkit-text-fill-color: rgb(0, 0, 0);
    position: absolute;
    -webkit-text-stroke: 1px rgb(168, 168, 168);
    bottom: 20px;
    font-weight: 900;
    left: -3%;
    font-family: 'Sans_Bd';
}

.next {
    height: 7.5rem;
    border: none;
    background: none;

    svg {
        background-color: #1b1b1b;
        overflow: hidden;
        border-radius: .5rem;
        height: 100%;
    }
}

.next svg:hover {
    background-color: #303030;
}