@font-face {
    font-family: 'Sans';
    src: url('Font.woff2') format('woff2');
}

@font-face {
    font-family: 'Sans_Bd';
    src: url('Sans_Bd.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Sans';
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    box-sizing: border-box;
    background-color: black;
}

.header {
    width: 100%;
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.904),
            rgba(0, 0, 0, 0.589),
            rgba(0, 0, 0, 0.938)),
        url('/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
}


.Lang {
    background-color: #000000a8;
    color: white;
    border: none;
    font-weight: 600;
    border: none;
}

.lang-box {
    border: .5px solid rgba(255, 255, 255, 0.801);
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 5px 8px;
    width: fit-content;
    background: none;
}

nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100vw;
}

.logo {
    width: 140px;
    margin: 20px;
}

.buttons {
    background-color: rgb(221, 6, 6);
    color: white;
    width: 70px;
    height: 30px;
    border: .5px solid rgb(221, 6, 6);
    border-radius: 3px;
    font-size: 14px;
}

.main1 {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50vh;
    width: 50vw;
    gap: 20px;
    line-height: 1;
    align-items: center;
    margin-top:15vh;
}

.main1>h1 {
    font-size: 53px;
    font-weight: 1000;
    margin: 10px;
    letter-spacing: .5px;
}

.main1>h2 {
    font-size: 31px;
    font-weight: 1000;
    letter-spacing: .5px;
    margin: 10px;

}

.main1>h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
}

.flex {
    display: flex;
    gap: 12px;
}

.button1 {
    width: 180px;
    font-size: 22px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
}

input[id="start"] {
    width: 22vw;
    height: 7vh;
    padding-left: 10px;
    color: white;
    font-size: 15px;
    background-color: rgba(24, 24, 24, 0.596);
    border: .5px solid rgb(117, 117, 117);
    border-radius: 3px;
}

.start {
    display: flex;
    gap: 7px;
}

.content1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 50vh;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.content {
    color: white;
    position: absolute;

}

.content-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-items span {
    position: relative;
    transition: all .5s ease;
}

.content-items span img {
    border-radius: 30px;
    width: 230px;
    padding: 20px;

}

.content-items span:hover {
    transform: scale(1.05);
}

.text {
    font-size: 90px;
    -webkit-text-fill-color: rgb(0, 0, 0);
    position: absolute;
    -webkit-text-stroke: 1px rgb(168, 168, 168);
    bottom: 20px;
    font-weight: 900;
    left: -3%;
    font-family: 'Sans_Bd';
}

.next {
    height: 7.5rem;
    border: none;
    background: none;
    position: absolute;
    right: 0;

    svg {
        background-color: #1b1b1b;
        overflow: hidden;
        border-radius: .5rem;
        height: 100%;
    }
}

.next svg:hover {
    background-color: #303030;
}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 0 80px;
    padding-bottom: 30px;
    background-color: black;
    gap: 10px;

    h2 {
        padding-left: 0;
        font-size: 24px;
    }
}

.box {
    width: calc(100%/4);
    height: 45vh;
    border-radius: 20px;
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    padding: 15px;
    line-height: 1.5;

    h4 {
        font-size: 24px;
        font-weight: 900;
    }

    p {
        font-size: 16px;
        color: #ACA9B1;
    }

    span {
        display: flex;
        justify-content: flex-end;
    }
}


.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.FAQs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 15px;
    position: relative;

    h2 {
        color: white;
        font-size: 24px;
    }

    .faq-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 15px;
        padding: 20px 80px;
        /* width: 100%; */
    }

}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;

    button {
        width: 85vw;
        height: 10vh;
        background-color: #252525;
        text-align: left;
        padding: 0 30px;
        font-size: 28px;
        color: white;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button:hover {
        background-color: #414141;
    }
}

.end {
    background-color: black;
    padding: 70px;
    color: gray;

    .end1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;
        align-items: center;
        line-height: 1.5;
    }

    h5 {
        color: whitesmoke;
        font-weight: 200;
        font-size: 15px;
    }

    a {
        color: rgb(158, 158, 158);
        font-size: 15px;
    }

}

.button2 {
    width: 200px;
    font-size: 22px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
}

input[id="start1"] {
    width: 36vw;
    height: 7.5vh;
    padding-left: 10px;
    color: white;
    font-size: 15px;
    background-color: rgba(24, 24, 24, 0.596);
    border: .5px solid rgb(117, 117, 117);
    border-radius: 3px;
}

.end2 {
    display: flex;
    padding: 50px 90px;
    flex-direction: column;
    row-gap: 50px;
}

.links {
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    width: 80%;
    /* align-items: center; */
    line-height: 2;

    ul {
        list-style: none;
    }
}

.Nindia {
    color: rgba(224, 221, 221, 0.884);
}


/* 0-1024 */
/* min-width: 1024px */
/* 1024-infinity */
/* 768px  - 1024px */


@media only screen and (max-width: 960px) {
    nav {
        left: 0;
        transform: none;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 18px;
        background-color: transparent;
        margin-top: 10px;

    }
    .header{
        height: 50vh;
    }

    .logo {
        width: 6rem;
        height: 2rem;
        margin: 0;
    }

    .main1>h1 {
        font-size: 33px;
        text-align: center;
        font-weight: 900;
        letter-spacing: .75px;
        margin: 10px;
        width: 95vw;
    }

    .main1>h2 {
        font-size: 17px;
        text-align: center;
        font-weight: 500;
        letter-spacing: .5px;
        width: 90vw;
        margin: 10px;
    }

    .main1>h3 {
        font-size: 17px;
        font-weight: 500;
        width: 90vw;
        margin: px;
    }

    .button {
        width: 60vw;
        font-size: 20px;
        font-weight: 550;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;

    }
    input[id="start"] {
            width: 90vw;
            height: 5.5vh;
        }

    .main1 {
        justify-content: flex-end;
        align-items: center;
        height: 30vh;
    }

    .content1 {
        overflow: hidden;
        .content{
            left: 0;
            padding: 30px;
        }
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .end {
        font-size: 2em;
    }

    .start {
        display: flex;
        flex-direction: column;
        width: 100vw;
        display: flex;
        align-items: center;
        gap: 17px;
        width: 100%;
        padding: 0 25px;
    }


    .button1 {
        height: 5vh
    }

    .boxes {
        flex-direction: column;
    }

    .box {
        width: 100%;
        height: fit-content;
        padding: 15px;
    }

    .content2 {
        padding: 30px;

        h2 {
            padding: 0;
        }
    }

    .FAQs {

        button {
            width: 85vw;
            height: 8vh;
            padding: 25px;
            font-size: 18px;

            svg {
                width: 25px;
                height: 30px;
            }
        }

        h2 {
            font-size: 18px;
        }

    }

    .end {
        padding: 0;

        .button2 {
            height: 5.5vh;
            width: 175px;
            font-size: 20px;

        }

        input[id="start1"] {
            width: 100%;
            height: 5.5vh;
        }


        h5 {
            padding: 0px 22px;
        }
        .end1{
            padding:20px 0;
        }
        .end2 {
            row-gap: 35px;
            padding: 0;
            font-size: 15px;
            padding: 40px 25px;

            .links {
                flex-direction: column;
            }

            ul {
                display: flex;
                flex-direction: column;
            }
        }
    }
}